*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*.zstandard filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.th filter=lfs diff=lfs merge=lfs -text
*.feather filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
cache_dir/**/* filter=lfs diff=lfs merge=lfs -text
cache_dir/**/**/* filter=lfs diff=lfs merge=lfs -text
safety_checker/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
text_encoder/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
unet/diffusion_pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
vae/diffusion_pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
model-epoch03-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch03-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch03-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch04-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch04-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch04-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch05-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch05-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch05-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch06-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch06-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch06-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch07-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch07-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch07-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch08-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch08-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch08-full.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch09-float16.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch09-float32.ckpt filter=lfs diff=lfs merge=lfs -text
model-epoch09-full.ckpt filter=lfs diff=lfs merge=lfs -text
wd-v1-3-float16.ckpt filter=lfs diff=lfs merge=lfs -text
wd-v1-3-float32.ckpt filter=lfs diff=lfs merge=lfs -text
wd-v1-3-full.ckpt filter=lfs diff=lfs merge=lfs -text
wd-v1-3-full-opt.ckpt filter=lfs diff=lfs merge=lfs -text
vae/kl-f8-anime.ckpt filter=lfs diff=lfs merge=lfs -text
vae/kl-f8-anime2.ckpt filter=lfs diff=lfs merge=lfs -text
spiderverse-v1-pruned.ckpt filter=lfs diff=lfs merge=lfs -text
Cyberpunk-Anime-Diffusion.ckpt filter=lfs diff=lfs merge=lfs -text
img/1.jpg filter=lfs diff=lfs merge=lfs -text
img/2.jpg filter=lfs diff=lfs merge=lfs -text
classicAnim-v1.ckpt filter=lfs diff=lfs merge=lfs -text
PixelartSpritesheet_V.1.ckpt filter=lfs diff=lfs merge=lfs -text
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.py	eol=lf
*.rst	eol=lf
*.md	eol=lf
*.mdx   eol=lf
unsplash-dataset/features.npy filter=lfs diff=lfs merge=lfs -text
experiments/pix2pix/latest_net_G.pth filter=lfs diff=lfs merge=lfs -text
experiments/pretrained_models/RealESRGAN_x4plus_anime_6B.pth filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
trinart_characters_it4_v1.ckpt filter=lfs diff=lfs merge=lfs -text
autoencoder_kl-f8-trinart_characters.ckpt filter=lfs diff=lfs merge=lfs -text
autoencoder_fix_kl-f8-trinart_characters.ckpt filter=lfs diff=lfs merge=lfs -text
m_ouroboros_style_iteration_1.ckpt filter=lfs diff=lfs merge=lfs -text
Tardisfusion-v1.ckpt filter=lfs diff=lfs merge=lfs -text
Tardisfusion-v2.ckpt filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
* text eol=lf
*.bat text eol=crlf
*.patch text eol=lf
*.java text eol=lf
*.gradle text eol=crlf
*.png binary
*.gif binary
*.exe binary
*.dll binary
*.jar binary
*.lzma binary
*.zip binary
*.pyd binary
*.cfg text eol=lf
*.jks binary
* text=auto eol=lf
.licenses/** -diff linguist-generated=true
*.py	eol=lf
*.rst	eol=lf
*.md	eol=lf
*.mdx   eol=lf
* text=auto
dist/index.js    -diff -merge
dist/index.js    linguist-generated=true
.licenses/** -diff linguist-generated=true
* text=auto eol=lf
*.cs text eol=crlf
*.tt text eol=crlf
PSScriptAnalyzerSettings.psd1 linguist-vendored
Source/Common/* linguist-vendored
*/wwwroot/* linguist-vendored
* text=auto eol=lf
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.scpt filter=osa
.circleci/config.yml linguist-generated=true
* text=auto eol=lf
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.scpt filter=osa
# Source files
# ============
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
*.ipynb  text

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
# Java sources
*.java          text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=java

# These files are text and should be normalized (Convert crlf => lf)
*.css           text diff=css
*.df            text
*.htm           text diff=html
*.html          text diff=html
*.js            text
*.jsp           text
*.jspf          text
*.jspx          text
*.properties    text
*.tld           text
*.tag           text
*.tagx          text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
*.jks           binary
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*     text=auto

# Fortran files
*.f   text diff=fortran
*.for text diff=fortran
*.f90 text diff=fortran
*.f95 text diff=fortran
*.f03 text diff=fortran
# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
# https://www.davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
*          text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.rtf      diff=astextplain
*.RTF      diff=astextplain
*.md       text
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.txt      text
*.sql      text

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
# SVG treated as an asset (binary) by default.
*.svg      text
# If you want to treat it as binary,
# use the following line instead.
# *.svg    binary
*.eps      binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary

# Text files where line endings should be preserved
*.patch    -text

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
