.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vim
.env
.venv
target
.idea
Cargo.lock

/data
tokenizers/data
bindings/python/tests/data
docs/build/
docs/make.bat

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/examples/.ipynb_checkpoints
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
venv/
__pycache__/
flagged/
data
data.db
data.json
