h1 {
  text-align: center;
}
div#result-grid {
  max-width: 600px;
  max-height: 600px;
}
div#result-grid-raw {
  max-width: 600px;
  max-height: 600px;
}
div#result {
  max-width: 400px;
  max-height: 400px;
}
div#result-raw {
  max-width: 400px;
  max-height: 400px;
}
div#result-video {
  max-width: 400px;
  max-height: 400px;
}
img#visitor-badge {
  display: block;
  margin: auto;
}
